body {
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    overflow: hidden;
    user-select: none;
}

#general-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 0;
    background: rgb(255, 255, 255);
    border-right: solid black 1px;
}

#title-container {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    border-bottom: solid black 1px;
}

.title-network {
    font-size: 10px;
}

#icons-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 5px;
    width: 100%;
    background: rgb(250, 250, 250);
    overflow-y: auto;
    scrollbar-width: none;
}

.element {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 5px 5px;
    background: white;
    border: solid black 1px;
    transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.element:hover {
    transform: scale(1.02);
}

.icon-window {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    overflow: hidden;
}

.icon-window img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-user-drag: none;
}

.text {
    font-size: 8px;
    padding: 10px 5px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    border-top: solid black 1px;
    padding: 5px 0px;
    gap: 5px;
    box-sizing: border-box;
}

#buttons-container,
#icons-container {
    padding: 5px 5px;
}

.buttons-style {
    box-sizing: border-box;
    width: 100%;
    height: 22px;
    font-size: 7px;
    border-radius: 3px;
    outline: none;
    border: solid black 1px;
    transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.buttons-style:hover,
.choice-button:hover {
    transform: scale(1.02);
}

#download-button:active,
#build-button:active,
#build:active,
#new-canvas:active,
.choice-button:active {
    background: black;
    color: white;
    transform: scale(1.0);
}

#Footer a {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 9px;
    color: rgb(0, 0, 0);
    gap: 2px;
}

#build-mode {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
    width: 250px;
    background: rgb(255, 255, 255);
    border: solid black 1px;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
}

#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s ease;
}

#build-mode-list {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 22px;
    font-size: 10px;
    gap: 10px;
    outline: none;
}

#canvas {
    position: fixed;
    top: 0;
    z-index: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    background: rgb(255, 255, 255)
}

#canvas.world {
    cursor: grabbing;
}

#viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

.canvas-node {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}

.canvas-node img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    -webkit-user-drag: none;
}

.node-label {
    font-size: 6px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    pointer-events: none;
    white-space: nowrap;
}

.cabelSvg {
    position: absolute;
    top: -5000px;
    left: -5000px;
    width: 10000px;
    height: 10000px;
    pointer-events: none;
    z-index: -5;
}

#warning-window {
    display: flex;
    position: fixed;
    width: 350px;
    left: 50%;
    top: 50%;
    gap: 5px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    pointer-events: none;
    opacity: 0;
    border: solid black 1px;
    border-radius: 2px;
    z-index: 30;
}

#warning-window-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 20px;
}

#description {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.choice-button {
    box-sizing: border-box;
    width: 60px;
    height: 25px;
    gap: 10px;
    font-size: 10px;
    border-radius: 3px;
    outline: none;
    border: solid black 1px;
    transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

#choice-buttons-gap {
    display: flex;
    gap: 15px;
    padding: 0px 0px 20px 0px;
}

.icon-clone {
    position: fixed;
    width: 30px;
    height: 30px;
    pointer-events: none;
}

#settings-button {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 50px 0px rgba(34, 60, 80, 0.3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    border: solid black 1px;
    border-radius: 5px;
    z-index: 5;
    outline: none;
}

#settings-button.settings-open {
    z-index: 50;
}

#settings-button span {
    display: block;
    width: 15px;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 3px;
    transition: transform 0.3s, opacity 0.3s;
}

#settings-button.active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
}

#settings-button.active span:nth-child(2) {
    opacity: 0;
}

#settings-button.active span:nth-child(3) {
    transform: translateY(-5px) rotate(45deg);
}

#settings-panel {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background: rgb(255, 255, 255);
    border-left: solid black 1px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 20;
    flex-direction: column;
}

#settings-panel.open {
    transform: translateX(0);
}

.settings-title {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}